* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#output {
    margin: 0 auto;
    width: max-content;
    height: max-content;
    background-color: aqua;
    color: blue;
    font-size: 25px;
    font-weight: 600;
    /* text-align: center; */
}

#put {
    margin: 0 auto;
    width: max-content;
    background-color: chartreuse;
    color: red;
    font-size: 25px;
    font-weight: 600;
    transform: rotate(90deg);
}

#dup {
    margin: 0 auto;
    width: max-content;
    height: max-content;
    background-color: yellow;
    color: green;
    font-size: 25px;
    font-weight: 600;
    transform: rotate(-90deg);
}